html {
  font-family: Georgia, serif;
  color: #fff;
}

a {
  text-decoration: none;
}

.btn-ghost {
  border: solid 3px #97a49b;
  border-radius: 5px;
  color: #fff;
}

.btn-ghost:hover {
  background-color: #fff;
  border: solid 3px #fff;
  color: #495562;
}

.content-wrapper {
  background-color: #495562;
}

@media only screen and (min-width: 38em) {

  .unit-content-left {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .unit-content-right {
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
  }

}

@media only screen and (min-width: 60em) {

  .earth {
    position: relative;
  }

  .banner-img {
    max-height: 500px;
    overflow: hidden;
  }

  .btn-ghost {
    border: solid 3px #efefef;
    border-radius: 5px;
    color: #efefef;
  }

  .content-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(73, 85, 98, 0), rgba(73, 85, 98, .9));
  }

}
